#float{
    width:25%;
    margin:10% 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 .box {
     width:100px;
     height:100px;
     padding: 2%;
     margin:1%;  
     text-align: center;
 }
 #box1{
    background-color: pink;
 }
 #box2{
    background-color: red;
 }
 #box3{
    background-color: yellow;
 }
 #box4{
    background-color: orchid;
 }
 