

        .c , .f, .e ,.g ,.u{
            background-color: #f1f18ec5;
        }
        .h ,.b{
            background-color: rgba(135, 160, 243, 0.795);
        }
        .l , .a, .d{
            background-color: rgba(141, 214, 141, 0.877);
        }
        *{
            text-align: center;
        }
        table{
            margin: 100px 400px;
            height: 30px;
        }

    